p{
    font-size:25px;
    font-family: "Comic Sans MS";
    font-weight: bold;
    color: #D61616;
    text-align: justify;
}
main{
    background-image: url(https://www.motofichas.com/images/phocagallery/Ducati_Motor_Holding_SpA/supersport-2019/01-ducati-supersport-2019-gris-titanio-perfil-luz.jpg);
}
header{
    background-image: url(https://m.media-amazon.com/images/I/41mKYEuTMjL.jpg)

}
footer{
    background-color: seagreen;
}
.parrafo1{
    font-size:30px;
}

.parrafo2{
    color:blue;
}